# Dependencies
node_modules/

# Testing
coverage/
.nyc_output/
junit.xml

# IDE
.vscode/
.idea/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env
.env.local

# Build output
dist/
build/

# Cache
.npm
.eslintcache

# System Files
.DS_Store
Thumbs.db